/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2016, 11:02:30 PM
    Author     : Brayan
*/

html{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fafafa;
    padding: 0px;
    margin: 0px;
}
div#web{
    width: 100%;
}
header{
    width: 100%;
    height: 80px;
    background-color: #3498db;
    color:white;
}
.a{
    color: black;
    font-weight: verdana;
    font-size: 1.6rem;
    text-decoration: none;
}
.ayuda{
    width: 100px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    margin-left: 88%;
    z-index: 2;
}

header a img{
    width: 50%;
    alignment-adjust: central;
}
header h3{
    width: 100%;
    margin-left: 7%;
    text-align:left;
    position: absolute;
    font-family: Cooper Black;
    font-size: 30px;
    color: black;
}

nav {
    width  : 88%;
    position: absolute;
    z-index: 3;
    /*    left: 18%;*/
    top:.5%;
}


menu:after , menu:before {
    display : block;
    content : ' ';
}

menu:after {
    clear : both;
}

li {
    list-style-type : none;


    float   : right;
    cursor  : pointer;
    padding : 3px 10px;


}

li:first-child {
    border-radius : 5px 0 0 5px;
}

li:last-child {
    border-radius : 0 5px 5px 0;
}

li a {
    display : block;
    padding : 10px 13px;
    /*    font-size : 16px;*/
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : black;			
    transition : all .4s;
}

li:hover a {
    top   : -20px;
    color : #45b0ee;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

li a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}

li:hover a:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

h1#texto{
    color: #45b0ee;
    font-family: Algerian;
    margin-left: 5%;
}

div#carrito{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}